@import '../styles/utils/colors';
@import '../styles/utils/typography';

$body-background-color: $base-lighter-black-color;
$body__text-color: $base-light-gray-color;

body {
    height: 100vh;
    background-color: $body-background-color;
    color: $body__text-color;
    font-family: $secondary-font;
    font-size: 0.875rem;

    a {
        color: $primary-color;
        transition: all ease-in-out 400ms;

        &:hover {
            color: lighten($primary-color, 20%);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $primary-font;
    }
}
