<footer class="p-3">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <img
                src="../../../assets/cartoon-pokeball.png"
                class="d-inline-block align-center mr-2"
                alt="Pokeball"
            />
            © 2021 Pokédex
        </div>
        <div class="d-flex align-items-center justify-content-between" id="social-icons">
            <a href="/"><i class="fab fa-facebook"></i></a>
            <a href="/"><i class="fab fa-instagram"></i></a>
            <a href="/"><i class="fab fa-twitter"></i></a>
            <a href="/"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>
