@import '../../styles/utils/colors';

$footer-background-color: $base-black-color;
$footer__text-color: $base-slate-gray-color;

footer {
    background-color: $footer-background-color;

    #copyright {
        color: $footer__text-color;
        font-size: 0.875rem;
    }

    img {
        width: auto;
        height: 30px;
        filter: grayscale(100%);
        opacity: 0.7;
    }

    #social-icons {
        a {
            color: $footer__text-color;
            &:not(:last-child) {
                margin-right: 1em;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
}
