// Color Palette
$base-red-color: #d2051c;
$base-bright-blue-color: #00a3c2;
$base-bright-navy-blue-color: #1773cd;
$base-pink-color: #f693d1;
$base-yellow-color: #fadf7f;
$base-orange-color: #ff7929;
$base-green-color: #0f9f4b;
$base-light-gray-color: #efefef;
$base-slate-gray-color: #758190;
$base-dark-gray-color: #26282c;
$base-black-color: #161616;
$base-lighter-black-color: #1d1d1d;

// Global Colors
$primary-color: $base-red-color;
$secondary-color: $base-bright-blue-color;
