.app-wrapper {
    height: 100%;
    margin-top: -66px;
    padding-top: 66px;
    margin-bottom: -62px;
    padding-bottom: 62px;

    .app-content {
        height: 100%;
        padding-top: 40px;
    }
}
