<div *ngIf="pokemonDetails.length > 0">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 pt-4 pb-5 card-wrapper">
        <div class="col mb-4" *ngFor="let pokemon of pokemonDetails">
            <app-card [pokemon]="pokemon"></app-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-pagination
                (page)="this.onPageChange($event)"
                [isNextBtnDisabled]="isNextBtnDisabled"
                [isPreviousBtnDisabled]="isPreviousBtnDisabled"
            ></app-pagination>
        </div>
    </div>
</div>

<div *ngIf="pokemonDetails.length === 0">
    <app-loader></app-loader>
</div>
